.book {
  margin-bottom: 30px;
}

.book__add-cart {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #cdbfe3;
  background-color: transparent;
}

.book__add-cart:hover {
  background-color: #cdbfe3;
  color: black;
}
